<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <p>Any questions? Email <a href="mailto:sophy@powerpack.org.uk">sophy@powerpack.org.uk</a></p>
      </div>
      <div class="col-4">
        <%= image_tag 'coop-logo-white.svg' %>
      </div>
    </div>
  </div>
</div>
