<nav class="main-nav">
  <ul>
    <li><%= link_to "About", "about" %></li>
    <li><%= link_to "How it works", "how-it-works" %></li>
    <li><a href="http://blog.powerpack.org.uk/">Blog</a></li>
  </ul>
</nav>
