---
title: Power Pack
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack</h1>
        <a href="/">
          <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="strapline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Thank you</h2>
      </div>
    </div>
  </div>
</div>

<div class="container transactional">
  <div class="row">
    <div class="col-8">
      <h2>We're testing this idea</h2>
      <p>
        Power Pack was created by the digital product research team at Co-op Digital in Manchester.
      </p>
      <p>
        We're looking to see whether people would be interested in buying and selling local renewable energy. As such, this idea is still in the early stages of development, so please bear with us.
      </p>
      <p>
        If you'd like to talk to us about Power Pack or anything related to it, please email <a href="mailto:sophy@powerpack.org.uk">sophy@powerpack.org.uk</a>
      </p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <p>Any questions? Email <a href="mailto:sophy@powerpack.org.uk">sophy@powerpack.org.uk</a></p>
      </div>
      <div class="col-4">
        <%= image_tag 'coop-logo-white.svg' %>
      </div>
    </div>
  </div>
</div>
