---
title: Power Pack
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack</h1>
        <a href="/">
          <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        </a>
        <%= partial 'partials/navigation' %>
      </div>
    </div>
  </div>
</div>

<div class="container about">
  <div class="row">
    <div class="col-8">
      <h2>Power Pack brings local renewable energy producers and consumers together</h2>
      <p><strong>Power Pack</strong> is a new way to buy renewable energy from people near you at a better price for everyone.</p>
      <p>
        Across the UK, thousands of people have come together to create community renewable solar, wind and hydro energy installations in their local areas.
      </p>
      <p>
        Their hard work and vision is already saving tonnes of carbon and reducing our dependence on fossil fuels.
      </p>
      <p>
        These groups are also keeping millions of pounds in their local communities - where it is needed the most.
      </p>
      <p>
        But many of these groups have a problem. The installations they work so hard to set up only supply a small number of buildings - such as businesses, schools and village halls. These buildings don’t need energy 24/7.
      </p>
      <p>
        There is no cheap way to store this energy, so the installations are limited. Excess energy sold back to the National Grid at a low price. And there is no cheap way to store this energy.
      </p>
      <p>
        Meanwhile, households in the local community are paying 2 to 3 times more to buy it back from the National Grid again.
      </p>
      <p>
        We want to make it easy for community energy groups to connect with people in their area who want to buy their electricity. It's a local energy sharing club with a better price for everyone.
      </p>
      <p>
        A commitment to Power Pack will lead to a whole new way to generate and sell electricity in the UK.
      </p>
    </div>
  </div>
</div>

<%= partial('partials/footer') %>
