---
title: Power Pack
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack</h1>
        <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        <%= partial 'partials/navigation' %>
      </div>
    </div>
  </div>
</div>
<div class="strapline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Raise money by switching households to green&nbsp;power</h2>
      </div>
    </div>
  </div>
</div>

<div class="container about">
  <div class="row">
    <div class="col-12">
      <h2>Fundraise for your school without having to ask for money</h2>

      <p>All you have to do is to ask families to switch to a green energy supplier — we'll take care of everything else. We'll print personalised leaflets for school bags and letters and emails.</p>

      <p>Have a look at this <a href="https://switch.powerpack.org.uk/hanover">example fundraising page</a>.</p>

      <h2>What you get</h2>
      <ul>
        <li>£25 for every household that switches to a green energy company</li>
        <li>Ready made, printed materials to distribute to schools (either letters for bags, or emails to send)</li>
        <li>A web page for your school to promote it's fundraising campaign</li>
        <li>Regular reports on how many households have switched, how much money you’ve raised, and how much CO2 you've saved</li>
        <li>Template tweets / Facebook posts / emails that you can send as follow ups to families keeping them up to date, and encouraging others to switch</li>
      </ul>

      <h2>How it works</h2>
      <ul>
        <li>You’re not asking households for money — you’re asking them to switch energy supplier.</li>
        <li>We find the best deal for the household — from a 100% renewable energy company.</li>
        <li>If they’ve never switched before — they will save money.</li>
      </ul>
    </div>
  </div>
</div>

<div class="background-photo" style="background-image: url(<%= image_path "field.jpg" %>)"></div>

<%= partial('partials/footer') %>
