---
title: Power Pack
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack</h1>
        <a href="/">
          <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="strapline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Almost finished...</h2>
      </div>
    </div>
  </div>
</div>

<div class="container transactional">
  <div class="row">
    <div class="col-8">
      <h2>We need to check your email address</h2>
      <p>
        To complete the joining process, please click the link in the email we just sent you. (This may take a few minutes and you might need to check in your Junk folder.)
      </p>
    </div>
  </div>
</div>

<%= partial('partials/footer') %>

<!-- Google Code for Power Pack sign up Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 868520771;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "5W8dCNvS4W8Qw6aSngM";
  var google_remarketing_only = false;
  /* ]]> */
</script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/868520771/?label=5W8dCNvS4W8Qw6aSngM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
